In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Load dataset

In [4]:
df = pd.read_csv("./data/HMdata.csv", sep=";")
df.head()

,Datetime,Latitude,Longitude,Altitude,Distance,HeartRate,Speed,Cadence,Watts
0,2020-10-10 10:01:56+00:00,61.499642,23.759591,97.800003,0.00,123,1.437,NaN,NaN
1,2020-10-10 10:01:57+00:00,61.499658,23.759586,97.000000,1.79,124,1.773,NaN,NaN
2,2020-10-10 10:01:58+00:00,61.499674,23.759582,97.599998,3.53,126,1.773,NaN,NaN
3,2020-10-10 10:01:59+00:00,61.499693,23.759588,97.800003,5.60,127,1.773,NaN,NaN
4,2020-10-10 10:02:00+00:00,61.499708,23.759581,98.000000,7.24,129,1.782,NaN,NaN